<%= image_tag "logo.png" %>

<div class="page-header">
  <h1>eSpark Teacher Dashboard</h1>
</div>

<% if HelpRequest.where(active: true).first %>
  <%@students.each do |s|%>
    <%hr = s.help_requests.where(active: true).first%>
    <%if hr%>
      <h3><%="#{hr.student.name} needs help!"%></h3>
    <%end%>
  <%end%>
<% else%>
  <h3>No active help requests.</h3>
<% end %>

<table class="table">
<% @students.each do |student| %>
  <tr>
   <td> <%= student.name %></td>
   <td> <%= link_to "Log In As #{student.name}", student_path(student), class: "btn btn-default" %></td>
  </tr>
<% end %>
</table>
